.master {
  display: flex;
  justify-content: center;
}
.ing-container {
  width: 60%;
  .ingredient-title {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  background-color: rgb(240, 240, 240);
  padding: 2rem;
  margin-bottom: 1rem;
  .ingredients {
    width: 100%;
    padding-bottom: 1rem;
    line-height: 2rem;
    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
