.promo-master-container {
  display: flex;
  justify-content: center;
  .promo-section {
    margin-bottom: 5vh;
    padding: 2rem;
    width: 60%;

    .event-announcement {
      font-size: 2rem;
      margin: 3rem 0;
      .and {
        color: #d24848;
      }
      .green {
        color: #3b6b57;
      }
    }
  }
}
.event-promo-card {
  display: flex;
  margin-top: 2rem;

  .event-content {
    width: 30%;
    padding-top: 1rem;
    .event-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .event-type {
      margin: 0.5rem 0;
    }
    .event-text {
      font-style: italic;
    }
  }
}

//coupon promos
.promo-container {
  img {
    width: 60%;
  }
  .promo-type {
    font-weight: bold;
  }
  line-height: 1.5rem;
  margin: 2rem 0;
  width: 50%;
  object-fit: contain;
  padding: 1rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
